<!DOCTYPE html>
<html lang="ja">
<!--link rel="stylesheet" href="/html/home01.css" type="text/css"-->
<link rel="stylesheet" href="/css/header.css" type="text/css">
<head>
    <title>編集画面v2</title>
</head>
<body>

  <div id="header"></div>
  <script>
    fetch("templates/header.html")
      .then((response) => response.text())
      .then((data) => document.querySelector("#header").innerHTML = data);
  </script>

  <style>
    .glayexample{
        background:#696969;
    }
    .backgroundimage{
        background-image:url("img/home01.jpg");

    }
  </style>

  <h1>編集画面</h1>
  <h3>
  <form action="/editproc" method="GET" >

    <table>
      {% for column in columns %}
      <tr>
        <td><label>{{ columns[loop.index-1] }}</label></td>
        {% if column == "id" %}
          <td><input type="text" name="data{{loop.index-1}}" value="{{person[loop.index-1]}}" size="50"
            style="font-size: 130%;" ></td>
        {% else %}
          <td><input type="text" name="data{{loop.index-1}}" value="{{person[loop.index-1]}}" size="50"
            style="font-size: 130%;"></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>

    <button type="button" onclick="history.back()" style="font-size: 130%;">前のページへ戻る</button>
    <button type="submit" style="font-size: 130%;">更新</button>
  </form>
  </h3>

</body>
</html>
