<link rel="stylesheet" href="css/header.css" type="text/css">
<header class="site-header">
    <font size="6">管理システム（MS）<br></font>

    <div class="site-header__wrapper">
    <a href="/" class="brand"><img src="/img/icon-home.png" height="50" width="50"></a>
    <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">menu</button>
        <ul class="nav__wrapper">
        <li class="nav__item" ><a href="/main">メイン</a></li>
        <li class="nav__item"><a href="/input">登録</a></li>
        <li class="nav__item"><a href="/search">検索</a></li>
        <li class="nav__item"><a href="/notyet">サービス</a></li>
        <li class="nav__item"><a href="/contact">連絡先</a></li>
        </ul>
    </nav>
    </div>
</header>