<!DOCTYPE html>
<html lang="ja">
<link rel="stylesheet" href="css/home01.css" type="text/css">
<link rel="stylesheet" href="css/header.css" type="text/css">
<head>
  <title>管理システムアプリケーション</title>
  <div id="header"></div>
  <script>
    fetch("templates/header.html")
      .then((response) => response.text())
      .then((data) => document.querySelector("#header").innerHTML = data);
  </script>
</head>
<body>
  <div>
      <a href= "main" >
          <img src="" height="600" width="800" alt="ホーム画像" align="top">
      </a>
  </div>
  
  <p>管理システムのホームページです。Click to enter</p>

</body>
</html>
